
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "_SignLayout";
}

@section Scripts{
    <!-- JQuery -->
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <!-- Sweet Alert 2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- Alerts -->
    <script src="~/scripts/loginSignOut/validationAlerts.js"></script>
}

<div class="register-box">
    <div class="register-logo">
        <a href=""><b>StudyCheck</b></a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Kayıt Ol</p>

            <form action="#" method="post">
                <div class="input-group mb-3">
                    <input name="ad" type="text" class="form-control" placeholder="Ad">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="soyad" type="text" class="form-control" placeholder="Soyad">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="kullaniciAdi" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-cog"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="sifre" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="email" type="email" class="form-control" placeholder="E-Mail">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:#ff5311">Tema</label>
                    <select class="form-control">
                        <option>default</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                <a href="#">Koşulları</a> kabul ediyorum
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <br />
            <a asp-area="Sign" asp-controller="login" asp-action="Index" class="text-center">Zaten bir hesabım var</a>
            <hr />
            <button type="button" class="btn btn-primary" style="background:#1c2349;width:100%;border-color:#1c2349;">Yardım</button>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>

@if (ViewBag.Exceptions != null)
{
    <script>
        AlertErrors("Sonuç", "@ViewBag.Exceptions", "exception");
    </script>
}
@if (ViewBag.IdentityResult != null)
{
    <script>
        AlertErrors("Sonuç", "@ViewBag.IdentityResult", "success");
    </script>
}
@if (ViewBag.IdentityErrors != null)
{
    @foreach (IdentityError error in ViewBag.IdentityErrors.Errors)
    {
        <script type="text/javascript">
            AlertErrors("Sonuç", "@error.Description", "exception");
        </script>
    }
}
@if (ViewBag.Transaction != null)
{
    <script type="text/javascript">
            AlertErrors("Sonuç", "@ViewBag.Transaction", "exception");
    </script>
}

