
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "_SignLayout";    
}

<div class="register-box">
    <div class="register-logo">
        <a href=""><b>StudyCheck</b></a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Kayıt Ol</p>

            <form action="#" method="post">
                <div class="input-group mb-3">
                    <input name="ad" type="text" class="form-control" placeholder="Ad">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="soyad" type="text" class="form-control" placeholder="Soyad">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="kullaniciAdi" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-cog"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="sifre" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="email" type="email" class="form-control" placeholder="E-Mail">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:#ff5311">Tema</label>
                    <select class="form-control">
                        <option>default</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                <a href="#">Koşulları</a> kabul ediyorum
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="button" class="btn btn-primary btn-block toastrDefaultError">Kayıt Ol</button>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    @if (ViewBag.Message != null)
                    {
                        if (ViewBag.Message is List<IdentityError>)
                        {
                            @foreach (IdentityError error in ViewBag.Message)
                            {
                                <p id="mesajList" style="display:none">@error.Description</p>
                            }
                        }
                        else
                        {
                            <p id="mesaj" style="display:none">@ViewBag.Message</p>
                        }
                    }
                    @if (ViewBag.Exceptions != null)
                    {                        
                        <p id="exception" style="display:none">@ViewBag.Exceptions</p>
                    }
                </div>
            </form>
            <br />
            <a asp-area="Sign" asp-controller="login" asp-action="Index" class="text-center">Zaten bir hesabım var</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>

@section Scripts{
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript">        
        $(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });         

            $('.toastrDefaultSuccess').click(function () {
                toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultInfo').click(function () {
                toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultError').click(function () {
                toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultWarning').click(function () {
                toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            
        });
    </script>
}

