
@{
    Layout = "_SignLayout";
    ViewBag.Title = "Giriş Yap";
}

@section Scripts{
    <!-- JQuery -->
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <!-- Sweet Alert 2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- Alerts -->
    <script src="~/scripts/loginSignOut/validationAlerts.js"></script>
}

<div class="login-box">
    <div class="login-logo">
        <a asp-area="" asp-controller="home"><b>StudyCheck</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Kullanıcı Girişi</p>
            <form asp-area="sign" asp-controller="login" method="post">
                <div class="input-group mb-3">
                    <input name="kullaniciAdi" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="sifre" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Beni Hatırla
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mb-1">
                <a href="#">Şifremi unuttum</a>
            </p>
            <p class="mb-0">
                <a asp-area="Sign" asp-controller="register" asp-action="Index" class="text-center">Kayıt Ol</a>
            </p>
            <hr />
            <button style="background:#1c2349;width:100%;border-color:#1c2349;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-xl">Yardım</button>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Masaüstü uygulamasındaki hesap ile giriş</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color:red;"><b>Buradaki adımları uygulamadan önce giriş yapmayı deneyin!</b></p>
                <p><b>ADIMLAR</b><br />- Masaüstü uygulamasından giriş yapmak için bilgilerinizi girip giriş yapmayı deneyin<br />- Masaüstü uygulamasındaki hesabınız ile giriş yapamıyorsanız (Code:21) admin ile iletişime geçin.<br />- Hesabınız admin tarafından onay bekliyor(Code:06)<br />- Masaüstü uygulamasındaki hesabınız ile giriş yapmak istemiyorsanız , kayıt ol butonundan yeni kayıt oluşturun.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tamam</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@if (ViewBag.Exceptions != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Exceptions", "exception");
    </script>
}
@if (ViewBag.IdentityResult != null)
{
    @foreach (IdentityError error in ViewBag.IdentityResult.Errors)
    {
        <script type="text/javascript">
            AlertErrors("Sonuç", "@error.Description", "exception");
        </script>
    }
}
@if (ViewBag.Warning != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Warning", "message");
    </script>
}