@{ 
    Layout = null;
}

    <footer class="main-footer">
        <strong>Copyright &copy; 2020 <a href="https://github.com/Glamoryan/StudyCheckWeb" target="_blank">StudyCheck Web</a>.</strong>        
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0.1
        </div>
    </footer>