
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-area="Administrator" asp-controller="dashboard" asp-action="Index">Admin</a>
    <a asp-area="Sign" asp-controller="login" asp-action="Index">Login</a>   
</body>
</html>
