@model EntityListModel
@{
    ViewData["Title"] = "Kullanıcı Ekle";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

@section AlertScripts{
    <!-- JQuery -->
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <!-- Sweet Alert 2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- Alerts -->
    <script src="~/scripts/loginSignOut/validationAlerts.js"></script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kullanıcı Ekle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Kullanıcı İşlemleri</a></li>
                    <li class="breadcrumb-item active">Kullanıcı Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Kullanıcı Bilgileri</h3>
                    </div>
                    <!-- /.card-header -->
                    <form asp-area="Administrator" asp-controller="Kullanici" method="post">
                        <div class="card-body">
                            <div class="row align-items-start">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Üye Adı</label>
                                        <input name="uyeAd" type="text" class="form-control" placeholder="Üye adı...">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Üye Soyadı</label>
                                        <input name="uyeSoyad" type="text" class="form-control" placeholder="Üye soyadı...">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Kullanıcı Adı</label>
                                        <input name="kullaniciAdi" type="text" class="form-control" placeholder="Kullanıcı adı...">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Şifre</label>
                                        <input name="sifre" type="password" class="form-control" placeholder="Şifre...">
                                    </div>
                                    <div class="form-group">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary2">
                                            <label for="checkboxPrimary2">
                                                Şifreyi Göster
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Kullanıcı Mail</label>
                                        <input name="mail" type="email" class="form-control" placeholder="Mail...">
                                    </div>
                                    <div class="form-group">
                                        <label>Durum</label>
                                        <select name="durum" class="form-control select2 select2-success" data-dropdown-css-class="select2-success" style="width: 100%;">
                                            <option value="1" selected="selected">Aktif</option>
                                            <option value="0">Pasif</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tema</label>
                                        <select class="form-control select2 select2-warning" data-dropdown-css-class="select2-warning" style="width: 100%;">
                                            <option selected="selected">Default</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Rol</label>
                                        <select name="rol" class="form-control select2 select2-primary" data-dropdown-css-class="select2-primary" style="width: 100%;">
                                            @foreach (var rol in Model.roller)
                                            {
                                                <option value="@rol.id">@rol.rol_adi</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Ekle</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
            <!-- right column -->
        </div>        
    </div>
</section>

@if (ViewBag.Exceptions != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Exceptions", "exception");
    </script>
}

@section Scripts{
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })
    </script>
}


