
@{
    ViewData["Title"] = "Rol Ekle";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Rol Ekle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Rol İşlemleri</a></li>
                    <li class="breadcrumb-item active">Rol Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Rol Bilgileri</h3>
                    </div>
                    <!-- /.card-header -->
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Rol Adı</label>
                                <input type="text" class="form-control" id="" placeholder="Rol adı...">
                            </div>
                            <div class="form-group">
                                <label>Durum</label>
                                <select class="form-control select2 select2-success" data-dropdown-css-class="select2-success" style="width: 100%;">
                                    <option selected="selected">Aktif</option>
                                    <option>Pasif</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Rol Yetkisi</label>
                                <select class="form-control select2 select2-warning" data-dropdown-css-class="select2-warning" style="width: 100%;">
                                    <option selected="selected">User</option>
                                    <option>Full</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</section>

@section SelectScripts{
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })
    </script>
}