<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="StudyCheck" /> <!-- website name -->
    <meta property="og:site" content="https://github.com/Glamoryan/StudyCheckWeb" /> <!-- website link -->    
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>@ViewBag.Title</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="~/VisitorPage/css/bootstrap.css" rel="stylesheet">
    <link href="~/VisitorPage/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/VisitorPage/css/swiper.css" rel="stylesheet">
    <link href="~/VisitorPage/css/magnific-popup.css" rel="stylesheet">
    <link href="~/VisitorPage/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="~/dist/img/study_32px.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    @RenderBody()

    <!-- Scripts -->
    <script src="~/VisitorPage/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/VisitorPage/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="~/VisitorPage/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/VisitorPage/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/VisitorPage/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/VisitorPage/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/VisitorPage/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="~/VisitorPage/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/VisitorPage/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>